* {
    background-color: white;
    color: black;
}

em {
    text-decoration: none !important;
    font-style: italic;
}

div.portrait {
    margin-left: 17%;
    margin-right: 17%;
    width: 66%;
}

div.square {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
