@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      helvetica,
      Arial,
      sans-serif;
  }

  .prose img {
    margin-bottom: 0 !important;
  }
}

@layer utilities {
  .visually-hidden {
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}

article div.portrait {
  margin-left: 17%;
  margin-right: 17%;
  width: 66%;
}

article div.square {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

article p > img + em {
  line-height: normal;
}

article img {
  margin-bottom: 0 !important;
}

.gallery-root {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-background {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-background img {
  width: 80%;
  height: auto;
}
