@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }


}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}

div.portrait, div.square {
    display: none;
}

div.portrait + p>img, div.portrait + p>img + em {
    display: inline-block !important;
    margin-left: 17% !important;
    margin-right: 17% !important;
    width: 66% !important;
    min-width: 66% !important;
    max-width: 66% !important;
}

div.square + p>img, div.square + p>img + em {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

p>img + em {
    line-height: normal;
}

article img {
  margin-bottom: 0 !important;
}

