@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }


}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}

article .portrait, article .square {
    display: none;
}

article .portrait + p>img, article .portrait + p>img + em {
    margin-left: 17%;
    margin-right: 17%;
    width: 66%;
}

article .square + p>img, article .square + p>img + em {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

article p>img + em {
    display: inline-block;
    line-height: normal;
}

article img {
  margin-bottom: 0 !important;
}

